Repository Vehnem/kg-tools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: paris, valentine, pyjedai, corenlp

.gitlab-ci.yml:

stages:
  - build_and_test

paris:
  stage: build_and_test
  image: docker:24.0.5
  script:
    - apk add --no-cache bash make
    - cd _scripts
    - echo "ğŸ”¨ Building paris"
    - bash build "paris"
    - echo "ğŸ§ª Testing paris"
    - bash test "paris"
  rules:
    - changes:
        - paris/**/*
        - _scripts/**/*

valentine:
  stage: build_and_test
  image: docker:24.0.5
  script:
    - apk add --no-cache bash make
    - cd _scripts
    - echo "ğŸ”¨ Building valentine"
    - bash build "valentine"
    - echo "ğŸ§ª Testing valentine"
    - bash test "valentine"
  rules:
    - changes:
        - valentine/**/*
        - _scripts/**/*

pyjedai:
  stage: build_and_test
  image: docker:24.0.5
  script:
    - apk add --no-cache bash make
    - cd _scripts
    - echo "ğŸ”¨ Building pyjedai"
    - bash build "pyjedai"
    - echo "ğŸ§ª Testing pyjedai"
    - bash test "pyjedai"
  rules:
    - changes:
        - pyjedai/**/*
        - _scripts/**/*

corenlp:
  stage: build_and_test
  image: docker:24.0.5
  script:
    - apk add --no-cache bash make
    - cd _scripts
    - echo "ğŸ”¨ Building corenlp"
    - bash build "corenlp"
    - echo "ğŸ§ª Testing corenlp"
    - bash test "corenlp"
  rules:
    - changes:
        - corenlp/**/*
        - _scripts/**/*

updated corenlp Makefile
  corenlp/Makefile
Due: corenlp

added pushing to registry
  .gitlab-ci.yml
  _scripts/gen_ci.sh
Due: paris, valentine, pyjedai, corenlp

missing files from paper merge...
  dbpedia-spotlight/Makefile
  dbpedia-spotlight/dockerfile
  dbpedia-spotlight/spotlight.sh
  pyjedai/wrapper/cleanclean_v2.py
  pyjedai/wrapper/pyjedai_v2.sh
  valentine/wrapper/valentine_example_v2.py
  valentine/wrapper/valentine_v2.sh
Due: valentine, pyjedai

spotlight custom docker make, valentine missing
  dbpedia-spotlight/Makefile
  valentine/Dockerfile
Due: valentine

- added testing for corenlp - updated README.md
  README.md
  corenlp/Makefile
Due: corenlp

updated corenlp
  corenlp/Dockerfile
  corenlp/Makefile
Due: corenlp

with cleanup
  corenlp/Makefile
Due: corenlp

added .packages functionality
  .gitlab-ci.yml
  README.md
  _scripts/gen_ci.sh
  corenlp/.packages
  corenlp/Dockerfile
Due: paris, valentine, pyjedai, corenlp

added tmp dir to corenlp test
  corenlp/Makefile
Due: corenlp

clone repo in docker
  .gitlab-ci.yml
  corenlp/.packages
  corenlp/Dockerfile
  corenlp/Makefile
Due: corenlp

updated gen_ci.sh
  .gitlab-ci.yml
  _scripts/gen_ci.sh
Due: paris, valentine, pyjedai, corenlp

running build and test from root dir
  _scripts/build
  _scripts/test
Due: paris, valentine, pyjedai, corenlp

Added a management script and example for jedai tasks
  .github/workflows/validate.yml
  CONTRIBUTING.md
  README.md
  _scripts/README.md
  _scripts/gen_readme.py
  _scripts/manage.py
  tools/pyjedai/kgpipe/jedai_tasks.py
Due: paris, valentine, pyjedai, corenlp

added example-settings.ini to paris updated readme and makefile
  tools/paris/README.md
  tools/paris/docker/Makefile
  tools/paris/docker/SETTINGS_REFERENCE.md
  tools/paris/docker/example-settings.ini
  tools/paris/docker/wrapper/paris.sh
Due: none

added deepmatcher config, updated readme and makefile
  tools/deepmatcher/README.md
  tools/deepmatcher/docker/CONFIG_REFERENCE.md
  tools/deepmatcher/docker/Dockerfile
  tools/deepmatcher/docker/Makefile
  tools/deepmatcher/docker/config-example.yaml
  tools/deepmatcher/docker/wrapper/deepmatcher.sh
  tools/deepmatcher/docker/wrapper/run_deepmatcher.py
Due: none

new
  _scripts/_data-util/nt_to_csv.py
  _scripts/_data-util/rdfxml_to_nt.py
  tools/ontoea/README.md
  tools/ontoea/docker/Dockerfile
  tools/ontoea/docker/Makefile
  tools/ontoea/docker/wrapper/ontoea.sh
  tools/paris/docker/eval.py
  tools/pyjedai/docker/wrapper/blocking/token_blocking.py
  tools/pyjedai/docker/wrapper/cleanclean.py
  tools/pyjedai/docker/wrapper/cleanclean_v2.py
  tools/pyjedai/docker/wrapper/data_reading.py
  tools/pyjedai/docker/wrapper/entity_matching.py
  tools/pyjedai/docker/wrapper/pyjedai.sh
  tools/valentine/docker/plots.py
  tools/valentine/docker/wrapper/valentine_example.py
  tools/valentine/docker/wrapper/valentine_example_v2.py
Due: paris, valentine, pyjedai, corenlp

added config for pyjedai
  tools/pyjedai/README.md
  tools/pyjedai/docker/CONFIG_REFERENCE.md
  tools/pyjedai/docker/Dockerfile
  tools/pyjedai/docker/config-example.yaml
  tools/pyjedai/docker/fixes/matching.py
  tools/pyjedai/docker/wrapper/block_building.py
  tools/pyjedai/docker/wrapper/block_cleaning.py
  tools/pyjedai/docker/wrapper/block_purging.py
  tools/pyjedai/docker/wrapper/blocking/token_blocking.py
  tools/pyjedai/docker/wrapper/cleanclean.py
  tools/pyjedai/docker/wrapper/cleanclean_v2.py
  tools/pyjedai/docker/wrapper/clustering.py
  tools/pyjedai/docker/wrapper/comparison_cleaning.py
  tools/pyjedai/docker/wrapper/comparison_cleaning/weighted_edge_pruning.py
  tools/pyjedai/docker/wrapper/data_cleaning.py
  tools/pyjedai/docker/wrapper/data_reading.py
  tools/pyjedai/docker/wrapper/entity_clustering/unique_mapping_clustering.py
  tools/pyjedai/docker/wrapper/entity_matching.py
  tools/pyjedai/docker/wrapper/evaluation.py
  tools/pyjedai/docker/wrapper/pyjedai.sh
  tools/pyjedai/docker/wrapper/pyjedai_v2.sh
  tools/pyjedai/docker/wrapper/run_pipeline.py
Due: none

- updated agreementmaker -> removed old code -> added config for agreementmaker -> updated tool.yaml Dockerfile, Makefile and README.md
  tools/agreementmaker/docker/Dockerfile
  tools/agreementmaker/docker/DockerfileFlask
  tools/agreementmaker/docker/Makefile
  tools/agreementmaker/docker/README.md
  tools/agreementmaker/docker/SETTINGS_REFERENCE.md
  tools/agreementmaker/docker/config.json
  tools/agreementmaker/docker/example-settings.ini
  tools/agreementmaker/docker/requirements.txt
  tools/agreementmaker/docker/simplestInstall.md
  tools/agreementmaker/docker/wrapper/agreementmaker.sh
  tools/agreementmaker/tool.yaml
Due: none

removed old README.md and moved README.md out of docker dir
  tools/agreementmaker/README.md
  tools/agreementmaker/docker/README.md
Due: none

set docker_test to false
  tools/agreementmaker/tool.yaml
Due: none

- updated deepmatcher -> updated Dockerfile, Makefile and README.md
  tools/deepmatcher/README.md
  tools/deepmatcher/docker/Dockerfile
  tools/deepmatcher/docker/Makefile
Due: none

updated README for deepmatcher
  tools/deepmatcher/README.md
Due: none

updated magellan -> added config -> added label_candidates.py -> updated README.md, Makefile, Dockerfile
  tools/deepmatcher/README.md
  tools/magellan/DockerfileAirflow
  tools/magellan/Makefile
  tools/magellan/README.md
  tools/magellan/blocking/overlap_blocking.py
  tools/magellan/data_exploration.py
  tools/magellan/data_profiling.py
  tools/magellan/docker/CONFIG_REFERENCE.md
  tools/magellan/docker/Dockerfile
  tools/magellan/docker/Makefile
  tools/magellan/docker/config-example.yaml
  tools/magellan/docker/requirements.txt
  tools/magellan/docker/wrapper/label_candidates.py
  tools/magellan/docker/wrapper/magellan.sh
  tools/magellan/docker/wrapper/run_magellan.py
  tools/magellan/downsampling.py
  tools/magellan/entry.py
  tools/magellan/matching/bestlearning_matcher.py
  tools/magellan/simplestInstall.md
Due: none

small paris updates -> renamed example-settings.ini to settings-example.ini -> updated Dockerfile, Makefile, README.md, SETTINGS_REFERENCE.md
  tools/paris/README.md
  tools/paris/docker/Dockerfile
  tools/paris/docker/Makefile
  tools/paris/docker/SETTINGS_REFERENCE.md
  tools/paris/docker/settings-example.ini
Due: none

added splink
  tools/splink/README.md
  tools/splink/docker/CONFIG_REFERENCE.md
  tools/splink/docker/Dockerfile
  tools/splink/docker/Makefile
  tools/splink/docker/requirements.txt
  tools/splink/docker/wrapper/run_splink.py
  tools/splink/docker/wrapper/splink.sh
  tools/splink/tool.yaml
Due: none

fixed pyjedai bugs and added task definition
  tools/pyjedai/README.md
  tools/pyjedai/docker/CONFIG_REFERENCE.md
  tools/pyjedai/docker/Dockerfile
  tools/pyjedai/docker/fixes/matching.py
  tools/pyjedai/docker/fixes/utils.py
  tools/pyjedai/docker/wrapper/pyjedai.sh
  tools/pyjedai/kgpipe/jedai_tasks.py
  tools/pyjedai/kgpipe/test.py
Due: none

Move the generated catalog into tools/README.md as description lists.
  CONTRIBUTING.md
  README.md
  _scripts/README.md
  _scripts/gen_readme.py
  docs/RESTRUCTURE_PLAN.md
  tools/README.md
  tools/flora/tool.yaml
  tools/rel/tool.yaml
Due: paris, valentine, pyjedai, corenlp

Publish a searchable Just the Docs catalog on GitHub Pages.
  .github/workflows/pages.yml
  .github/workflows/validate.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  _scripts/README.md
  _scripts/catalog_util.py
  _scripts/gen_pages.py
  _scripts/gen_readme.py
  _scripts/manage.py
  docs/.gitignore
  docs/Gemfile
  docs/Gemfile.lock
  docs/RESTRUCTURE_PLAN.md
  docs/_config.yml
  docs/_sass/custom/custom.scss
  docs/_sass/custom/setup.scss
  docs/assets/js/catalog-filter.js
  docs/index.md
  tools/README.md
Due: paris, valentine, pyjedai, corenlp

Add a local KGpipe task pytest harness and report-backed Pages table.
  _scripts/kgpipe_catalog.py
  _scripts/kgpipe_harness.py
  _scripts/requirements-kgpipe-test.txt
  _scripts/validate_catalog.py
  catalog/reports/kgpipe-tasks.json
  catalog/schema/kgpipe_task_test.schema.json
  pytest.ini
  tests/kgpipe/conftest.py
  tests/kgpipe/test_tasks.py
  tools/pyjedai/kgpipe/tests/fixtures/expected.json
  tools/pyjedai/kgpipe/tests/fixtures/source.csv
  tools/pyjedai/kgpipe/tests/fixtures/target.csv
  tools/pyjedai/kgpipe/tests/jedai_syntactic_matching.yaml
Due: paris, valentine, pyjedai, corenlp

ci: disabled docker build and test actions
  .github/workflows/docker-matrix.yml
  _scripts/gen_ci.py
Due: paris, valentine, pyjedai, corenlp

added agreementmaker, deepmatcher, maggellan and paris tasks
  tools/agreementmaker/kgpipe/agreementmaker_tasks.py
  tools/deepmatcher/kgpipe/deepmatcher_tasks.py
  tools/deepmatcher/tool.yaml
  tools/magellan/kgpipe/magellan_tasks.py
  tools/magellan/tool.yaml
  tools/paris/kgpipe/paris_tasks.py
Due: none

updated splink
  tools/splink/docker/config-example.yaml
  tools/splink/kgpipe/splink_tasks.py
  tools/splink/kgpipe/test.py
  tools/splink/kgpipe/tests/splink_entity_matching.yaml
Due: none

ditto
  tools/ditto/README.md
  tools/ditto/docker/CONFIG_REFERENCE.md
  tools/ditto/docker/Dockerfile
  tools/ditto/docker/Makefile
  tools/ditto/docker/config-example.yaml
  tools/ditto/docker/install_ditto_deps.sh
  tools/ditto/docker/wrapper/ditto.sh
  tools/ditto/docker/wrapper/run_ditto.py
  tools/ditto/kgpipe/ditto_tasks.py
  tools/ditto/tool.yaml
Due: none

ontoaligner
  tools/OntoAligner/README.md
  tools/OntoAligner/docker/CONFIG_REFERENCE.md
  tools/OntoAligner/docker/Dockerfile
  tools/OntoAligner/docker/Makefile
  tools/OntoAligner/docker/example-config.yaml
  tools/OntoAligner/docker/requirements.txt
  tools/OntoAligner/docker/wrapper/ontoaligner.sh
  tools/OntoAligner/docker/wrapper/run_ontoaligner.py
  tools/OntoAligner/kgpipe/ontoaligner_tasks.py
  tools/OntoAligner/kgpipe/tests/fixtures/expected.json
  tools/OntoAligner/kgpipe/tests/fixtures/source.owl
  tools/OntoAligner/kgpipe/tests/fixtures/target.owl
  tools/OntoAligner/kgpipe/tests/ontoaligner_lightweight_matching.yaml
  tools/OntoAligner/tool.yaml
Due: none
